// colors
$primary-bg-color: hsl(225, 100%, 94%);
$secondary-bg-color: hsl(0, 0%, 100%);
$tertiary-bg-color:  hsl(225, 100%, 98%);

$primary-text-color: #1F2F56;
$secondary-text-color: hsl(224, 23%, 55%);

$primary-button-color: hsl(245, 75%, 52%);
$primary-button-hover: hsla(245, 75%, 52%, 0.67);
$secondary-button-hover: hsla(245, 75%, 52%, 0.67);

//background image
$background-image: url('../assets/images/pattern-background-desktop.svg');

//font family
$font-family: 'Red Hat Display', sans-serif;

//fonts size
$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-small: 14px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-black: 900;