@import '../styles/variables.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px 35px 35px;
    background-color:$secondary-bg-color;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 375px;
    margin: auto;
    height: auto;
    
    

    figure {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
        
        img {
            
            width: calc(100% + 70px);
            height: auto;
            border-radius: 15px 15px 0 0;
        }
    }
    
    h1 {
        color:$primary-text-color; 
        padding: 15px;
        font-size: $font-size-large;
        font-weight: $font-weight-black;
    }

    p {
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        margin: 5px;
        color: $secondary-text-color;
    }

    button {
        &.btnpay {
            padding: 10px;
            color: white;
            background-color: $primary-button-color ;
            border-radius: 10px;
            width: 100%;
            box-shadow: 0 15px 8px rgba(37, 27, 222, 0.137) ;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        
            &:hover {
                background-color:  $primary-button-hover;
            }
        }
        
        &.cancel{
            color:$secondary-text-color;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            &:hover {
                color: black;
            }
        }
        
        &.change{
            font-size: $font-size-small;
            text-decoration: underline;
            color: $primary-button-color;
            font-weight: $font-weight-bold;
            &:hover{
                color: $primary-button-hover;  
            }
        }
    }
}

